/*
#703030
#2F343B
#7E827A
#E3CDA4
#C77966
*/


body {
  color: #2F343B;
  background-color: #E3CDA4;
  font-family: "Lora", serif;
  margin: 40px;
}

table {
  border: 2px solid #2F343B;
  border-collapse: collapse;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.1em;
}

h2 {
  font-family:  "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.header {
  /*border-bottom-style: solid;*/
  /*border-bottom-width: 1px;*/
  /*border-bottom-color: #2F343B;*/
}

.storeName {
  width: 150px;
}

td {
  text-align: right;
}

td, th {
  padding: 5px;
  width: 70px;
  border-right: 1px solid #7E827A;
}

th {
  background-color: #C77966;
  border-bottom-color: #2F343B;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

p {
  font-size: 18px;
  padding-bottom: 10px;
}

label {
  font-size: 14px;
  display: block;
  width: 170px;
  float: left;
}

label[for="submit"] {
  float: none;
}

.form-field {
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 326px;
}

input {
  background-color: #C77966;
  font-family: "Lora", serif;
  font-size: 14px;
  float: left;
  width: 150px;
}

button {
  background-color: #C77966;
  width: 70px;
  height: 30px;
  font-family: "Lora", serif;
  font-size: 16px;
}
